*{
    margin: 0;
}
.App{
    background-color: #F5F6FA;
    height: 100vh;
}

.MapCard{
    margin-top: 24px;
}
.MapCardContent{
    padding: 15px !important;
}

@media (max-width:959px){
    .App{
        height: auto;
    }
}